:root{
    --width:290px;
    --height:410px;
}
.container{
    position:relative;
    margin: auto;
    width:var(--width);
    height:var(--height);
    transform-style: preserve-3d;
    transition: all 0.1s;
}
.card{
    position:absolute;
    width:var(--width);
    height:var(--height);
    backface-visibility: hidden;
    background-image: url(../images/back.png);
    background-size: cover;
}
.back{
    position:absolute;
    width:var(--width);
    height:var(--height);
    backface-visibility: hidden;
    background-image: url(../images/card1.png);
    background-size: cover;
    transform: rotateY(180deg);
}
.set{
    padding: 70px 0;
    border: 3px solid rgb(112, 35, 255);
}
